<nav class="bg-red-400 border-gray-200 mr-40 ml-40 mt-auto">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a routerLink="" class="">
      <span
        class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2023 <a routerLink="/" class="hover:underline">coverTalk</a>. All
        Rights Reserved.</span
      >
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default"></div>
  </div>
</nav>

<router-outlet></router-outlet>
